<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sondho.websearch</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>0C133A71-52D0-4131-9704-6D35274F40F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3DFD6F05-A55E-420B-AB00-7E4376AD2AE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0D29CAFD-D4D7-4B54-9048-9845C2DFA366</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51915B3E-A6B9-4A4A-8CC2-EA193C2FD74C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0F86E6EF-4549-426E-A07B-696E810C19C3</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open/Search new window</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0E550C43-C38C-47DC-8D20-DA2442B1AB39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4729CE27-9300-478A-B66A-454319AC22C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0F86E6EF-4549-426E-A07B-696E810C19C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5DAD94D2-0000-4122-B027-5E16297889BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>18C22454-C90C-4A20-A057-4076297784BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>710409ED-1266-417A-9710-33D3EAAA6C1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DC56D889-DEE8-4378-B488-161F9A5C91FE</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open/Search new window</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>270400E4-266C-4F23-ADC8-DF39D1282691</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5A7FC0F-EE50-4ACA-BD5B-AA8C5AD7743A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2954AE3A-59FB-4B60-927E-67A59988A53A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6926AED1-CA4D-4805-B960-CFB6283F70C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3097B61B-58EB-42EA-B397-0EA4E72143B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FA7B19D-BAB6-4483-BFF6-D49A0FDF0F06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43A82D6C-C24F-4D92-BC62-BE33080813D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E550C43-C38C-47DC-8D20-DA2442B1AB39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51915B3E-A6B9-4A4A-8CC2-EA193C2FD74C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5DAD94D2-0000-4122-B027-5E16297889BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>553329B6-51E8-4E21-9ACC-3BD7D31FB0FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2BF5B63-B173-446B-A607-C8E05DB8E66F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5797D295-B109-4343-9082-50ED00A5D744</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>180D84E1-1913-4E36-AAE1-C6130E6BC0CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5DAD94D2-0000-4122-B027-5E16297889BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3097B61B-58EB-42EA-B397-0EA4E72143B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C83AD18-DC07-4590-B121-85571ED15A97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1138106B-8AB7-4AFE-A7C5-9356AE2DD02B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6CE0CF46-1629-4243-8AD9-830E5EB09265</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8076351E-5F7A-4AF0-A980-198F4A572F1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>43A82D6C-C24F-4D92-BC62-BE33080813D9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open in a new window.</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>710409ED-1266-417A-9710-33D3EAAA6C1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>804A6B3E-C470-40E9-AB9E-EDF02EAEBAA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>804A6B3E-C470-40E9-AB9E-EDF02EAEBAA0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>270400E4-266C-4F23-ADC8-DF39D1282691</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8076351E-5F7A-4AF0-A980-198F4A572F1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0E550C43-C38C-47DC-8D20-DA2442B1AB39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A14058F8-6A26-4D5B-8B4D-5315B2CAA6CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0786F43-7656-47A3-8672-798291506744</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B5BA3DC0-ED4A-4ECC-8F8C-1110B3A0F857</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47C9D867-6D1A-45C7-9F54-2303C2BAB2CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BEEFD34F-32E0-4002-A73A-5F5BD01C1BE3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>553329B6-51E8-4E21-9ACC-3BD7D31FB0FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D294E3BF-DCE1-47F8-AB90-4BA6CD0D27FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE90F639-4D68-4A10-BF34-8C11CCF2FD2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC56D889-DEE8-4378-B488-161F9A5C91FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>804A6B3E-C470-40E9-AB9E-EDF02EAEBAA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EC34AD7C-6F00-41B5-9878-2DA235AEA5AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6AD7857A-5C2B-48BD-B60A-1BD5EFAEC3FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F57ECFBD-0B8E-40EB-B7E6-2D2CEBA940D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E25A659-05F4-4E64-B894-2182F78401CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sondho</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Custom web search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>FILE="./script/search/urls.json"


cp "$FILE" "$FILE.bak"
jq --arg name "$shortcut_name" \
   --arg base "$base_url" \
   --arg query "$query_url" \
   '. + {($name): {base: $base, query_url: $query}}' \
   "$FILE" &gt; "$FILE.tmp" &amp;&amp; mv "$FILE.tmp" "$FILE"


open ./logos</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>553329B6-51E8-4E21-9ACC-3BD7D31FB0FA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>goa</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>URLS_JSON_CONTENT=$(cat ./script/search/urls.json)
export URLS_JSON_CONTENT

python3 script/go_add.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>You can add shorthand for quick execution.</string>
				<key>title</key>
				<string>Add Keyword</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BEEFD34F-32E0-4002-A73A-5F5BD01C1BE3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {variables}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>E2BF5B63-B173-446B-A607-C8E05DB8E66F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>go</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>URLS_JSON_CONTENT=$(cat ./script/search/urls.json)
export URLS_JSON_CONTENT
export BROWSERS="$BROWSERS"

python3 script/go.py $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>ex) google, youtube, papgo</string>
				<key>title</key>
				<string>Search Site Name for Quick Open/Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6CE0CF46-1629-4243-8AD9-830E5EB09265</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>is_new_window</key>
					<string>0</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8076351E-5F7A-4AF0-A980-198F4A572F1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>browser=$(echo $1 | jq -r '.browser')
site=$(echo $1 | jq -r '.site')
query=$(echo $1 | jq -r '.query')

cd ./script/search
bash ./site_search.sh "$is_new_window" "$browser" "$site" "$query" "./urls.json"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0E550C43-C38C-47DC-8D20-DA2442B1AB39</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {variables}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>4729CE27-9300-478A-B66A-454319AC22C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>is_new_window</key>
					<string>1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>43A82D6C-C24F-4D92-BC62-BE33080813D9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd ./script/search/
bash ./browser_search.sh "$is_new_window" "$browser" "$site" "$1" ./urls.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3097B61B-58EB-42EA-B397-0EA4E72143B0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>is_new_window</key>
					<string>0</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>51915B3E-A6B9-4A4A-8CC2-EA193C2FD74C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>whale</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open/Search in Whale</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0D29CAFD-D4D7-4B54-9048-9845C2DFA366</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>browser</key>
					<string>Whale</string>
					<key>site</key>
					<string>google</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5DAD94D2-0000-4122-B027-5E16297889BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>6FA7B19D-BAB6-4483-BFF6-D49A0FDF0F06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>is_new_window</key>
					<string>1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0F86E6EF-4549-426E-A07B-696E810C19C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>chrome</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open/Search in Chrome</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>18C22454-C90C-4A20-A057-4076297784BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd ./script/search/
bash ./browser_search.sh "$is_new_window" "$browser" "$site" "$1" ./urls.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>270400E4-266C-4F23-ADC8-DF39D1282691</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>is_new_window</key>
					<string>0</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>710409ED-1266-417A-9710-33D3EAAA6C1B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/{var:GITHUB_USERNAME}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2E25A659-05F4-4E64-B894-2182F78401CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open My Github in Chrome</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F57ECFBD-0B8E-40EB-B7E6-2D2CEBA940D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>browser</key>
					<string>Google Chrome</string>
					<key>site</key>
					<string>google</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>804A6B3E-C470-40E9-AB9E-EDF02EAEBAA0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>F5A7FC0F-EE50-4ACA-BD5B-AA8C5AD7743A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>is_new_window</key>
					<string>1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DC56D889-DEE8-4378-B488-161F9A5C91FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tistory</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open My Tistory in Whale</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EC34AD7C-6F00-41B5-9878-2DA235AEA5AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.naver.Whale</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://{var:TISTORY_NAME}.tistory.com/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6AD7857A-5C2B-48BD-B60A-1BD5EFAEC3FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.naver.Whale</string>
				<key>searcher</key>
				<integer>1635218546</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>47C9D867-6D1A-45C7-9F54-2303C2BAB2CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>translate</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Google translate for 'query' in Chrome</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D294E3BF-DCE1-47F8-AB90-4BA6CD0D27FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://{var:TISTORY_NAME}.tistory.com/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6926AED1-CA4D-4805-B960-CFB6283F70C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tistory</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open My Tistory in Chrome</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2954AE3A-59FB-4B60-927E-67A59988A53A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>searcher</key>
				<integer>1635218546</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>EE90F639-4D68-4A10-BF34-8C11CCF2FD2C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>translate</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Google translate for 'query' in Whale</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B5BA3DC0-ED4A-4ECC-8F8C-1110B3A0F857</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.naver.Whale</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://papago.naver.com/?sk=auto&amp;tk=ko&amp;hn=0&amp;st={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1138106B-8AB7-4AFE-A7C5-9356AE2DD02B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>history</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open History  in Whale</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0C133A71-52D0-4131-9704-6D35274F40F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>papago</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Papago for 'query' in Whale</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6C83AD18-DC07-4590-B121-85571ED15A97</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a "Google Chrome" "https://myactivity.google.com/myactivity"
open -a "Google Chrome" "chrome://history"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>180D84E1-1913-4E36-AAE1-C6130E6BC0CC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://papago.naver.com/?sk=auto&amp;tk=ko&amp;hn=0&amp;st={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D0786F43-7656-47A3-8672-798291506744</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>papago</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search Papago for 'query' in Chrome</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A14058F8-6A26-4D5B-8B4D-5315B2CAA6CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>history</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open History in Chrome</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5797D295-B109-4343-9082-50ED00A5D744</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a "Whale" "https://myactivity.google.com/myactivity"
open -a "Whale" "whale://history"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3DFD6F05-A55E-420B-AB00-7E4376AD2AE5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Custom web search</string>
	<key>uidata</key>
	<dict>
		<key>0C133A71-52D0-4131-9704-6D35274F40F2</key>
		<dict>
			<key>xpos</key>
			<real>125</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>0D29CAFD-D4D7-4B54-9048-9845C2DFA366</key>
		<dict>
			<key>xpos</key>
			<real>125</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>0E550C43-C38C-47DC-8D20-DA2442B1AB39</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>0F86E6EF-4549-426E-A07B-696E810C19C3</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>1138106B-8AB7-4AFE-A7C5-9356AE2DD02B</key>
		<dict>
			<key>xpos</key>
			<real>1025</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>180D84E1-1913-4E36-AAE1-C6130E6BC0CC</key>
		<dict>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>18C22454-C90C-4A20-A057-4076297784BA</key>
		<dict>
			<key>xpos</key>
			<real>125</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>270400E4-266C-4F23-ADC8-DF39D1282691</key>
		<dict>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>2954AE3A-59FB-4B60-927E-67A59988A53A</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>2E25A659-05F4-4E64-B894-2182F78401CB</key>
		<dict>
			<key>xpos</key>
			<real>1025</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>3097B61B-58EB-42EA-B397-0EA4E72143B0</key>
		<dict>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>3DFD6F05-A55E-420B-AB00-7E4376AD2AE5</key>
		<dict>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>43A82D6C-C24F-4D92-BC62-BE33080813D9</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>4729CE27-9300-478A-B66A-454319AC22C9</key>
		<dict>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>47C9D867-6D1A-45C7-9F54-2303C2BAB2CA</key>
		<dict>
			<key>xpos</key>
			<real>1025</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>51915B3E-A6B9-4A4A-8CC2-EA193C2FD74C</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>553329B6-51E8-4E21-9ACC-3BD7D31FB0FA</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>5797D295-B109-4343-9082-50ED00A5D744</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>5DAD94D2-0000-4122-B027-5E16297889BA</key>
		<dict>
			<key>note</key>
			<string>NAME</string>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>6926AED1-CA4D-4805-B960-CFB6283F70C9</key>
		<dict>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>6AD7857A-5C2B-48BD-B60A-1BD5EFAEC3FA</key>
		<dict>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>6C83AD18-DC07-4590-B121-85571ED15A97</key>
		<dict>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>6CE0CF46-1629-4243-8AD9-830E5EB09265</key>
		<dict>
			<key>xpos</key>
			<real>125</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>6FA7B19D-BAB6-4483-BFF6-D49A0FDF0F06</key>
		<dict>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>710409ED-1266-417A-9710-33D3EAAA6C1B</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>804A6B3E-C470-40E9-AB9E-EDF02EAEBAA0</key>
		<dict>
			<key>note</key>
			<string>NAME</string>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>485</real>
		</dict>
		<key>8076351E-5F7A-4AF0-A980-198F4A572F1A</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>A14058F8-6A26-4D5B-8B4D-5315B2CAA6CA</key>
		<dict>
			<key>xpos</key>
			<real>1180</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>B5BA3DC0-ED4A-4ECC-8F8C-1110B3A0F857</key>
		<dict>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>BEEFD34F-32E0-4002-A73A-5F5BD01C1BE3</key>
		<dict>
			<key>xpos</key>
			<real>125</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>D0786F43-7656-47A3-8672-798291506744</key>
		<dict>
			<key>xpos</key>
			<real>1350</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>D294E3BF-DCE1-47F8-AB90-4BA6CD0D27FC</key>
		<dict>
			<key>xpos</key>
			<real>1180</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>DC56D889-DEE8-4378-B488-161F9A5C91FE</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>E2BF5B63-B173-446B-A607-C8E05DB8E66F</key>
		<dict>
			<key>xpos</key>
			<real>625</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>EC34AD7C-6F00-41B5-9878-2DA235AEA5AD</key>
		<dict>
			<key>xpos</key>
			<real>125</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>EE90F639-4D68-4A10-BF34-8C11CCF2FD2C</key>
		<dict>
			<key>xpos</key>
			<real>1350</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>F57ECFBD-0B8E-40EB-B7E6-2D2CEBA940D5</key>
		<dict>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>F5A7FC0F-EE50-4ACA-BD5B-AA8C5AD7743A</key>
		<dict>
			<key>xpos</key>
			<real>795</real>
			<key>ypos</key>
			<real>485</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Google Chrome</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Enter the name of the browser application to run. The browser should be separated by a comma. ex) Google Chrome, Whale</string>
			<key>label</key>
			<string>Browsers</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>BROWSERS</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Enter GitHub account name. ex) https://github.com/XXXXXX</string>
			<key>label</key>
			<string>Github Username</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>GITHUB_USERNAME</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Please enter a name that can be included in the Tistory address. ex) XXXXX.tistory.com</string>
			<key>label</key>
			<string>Tistory Name</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>TISTORY_NAME</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/Daeho-Son/custom-web-search</string>
</dict>
</plist>
